*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

section h2{
    text-align: center;
}

section form{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid black;
}

section form label{
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
}

section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    outline-color: blue;
    background-color: beige;
}

section form input[type='submit']{
    
    background-color: blue;
}
